<h1><%= @identifier %></h1>

<br>

<h2>Application Details</h2>
<br>

<table id="browser_details">
  <th>Web Browser</th>
  <th>Count</th>
  <% @counted_browsers.each do |browser, count| %>
  <tr>
    <td><%= browser %></td>
    <td><%= count %></td>
  </tr>
  <% end %>
</table>

<table id="os_details">
  <th>Operating System</th>
  <th>Count</th>
  <% @counted_os.each do |os, count| %>
  <tr>
    <td><%= os %></td>
    <td><%= count %></td>
  </tr>
  <% end %>
</table>

<table id="resolution_details">
  <th>Screen Resolutions</th>
  <% @resolutions.each do |resolution| %>
  <tr>
    <td><%= resolution %></td>
  </tr>
  <% end %>
</table>

<h3>Most Visited URLs</h3>
<table id="sorted_urls">
  <th>URL</th>
  <th>Total</th>
  <% @counted_urls.each do |url, times_visited| %>
    <tr>
      <td><%= url %></td>
      <td><%= times_visited %></td>
    </tr>
  <% end %>
</table>

<h3>Average response times</h3>
<table id="response_times">
  <th>URL</th>
  <th>Time</th>
</table>
